@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto);

  --color-primary: var(--color-cyan-500);
  --color-primary-accent: var(--color-blue-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-roboto), Helvetica, sans-serif;
}

@utility shadow-glow {
  @apply shadow-lg shadow-primary-accent/30;
}

@utility bg-gradient {
  @apply bg-gradient-to-br from-primary to-primary-accent;
}
